@import "tailwindcss";
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  
}
.apexcharts-menu-item {
  background-color: #f0f0f0; /* Light gray background */
  color: #333; /* Dark gray text */
}

.apexcharts-menu-item:hover {
  background-color: #e0e0e0; /* Slightly darker on hover */
}
.info-trade{

  display: none;

}
.hover-trade:hover + .info-trade {
  display: block !important;
}
.hover-trade{
  cursor: pointer;

}