# Node modules (in any folder)
**/node_modules/
node_modules/

**/.github/
.github/

**/.dockerignore/
.dockerignore/
# Environment variables
.env
.env.*  # e.g., .env.production, .env.local


**/Dockerfile/
Dockerfile/